/* // <p style="font-family: jetbrain-bold;">Hola JetBrain, te uso para temas de sistema</p>
// <p style="font-family: courier-regular;">Hola Courier, te uso en cuestiones financieras y contables</p> */

/* Para que funcione Geogtq, es la que usa fate.com.ar. En lugar de secure_url deberia usar asset, pero en producción no se por qué toma http */
/* ///////////////////////// MICHELIN */
@font-face {
    font-family: 'michelin-black';
    src: url('./../fonts/michelin/Michelin-Black.eot');
    src: url('./../fonts/michelin/Michelin-Black.eot') format('embedded-opentype'),
        url('./../fonts/michelin/Michelin-Black.woff') format('woff2'),
        url('./../fonts/michelin/Michelin-Black.ttf') format('truetype');
    font-weight: black;
}

@font-face {
    font-family: 'michelin-regular';
    src: url('./../fonts/michelin/Michelin-Regular.eot');
    src: url('./../fonts/michelin/Michelin-Regular.eot') format('embedded-opentype'),
        url('./../fonts/michelin/Michelin-Regular.woff') format('woff2'),
        url('./../fonts/michelin/Michelin-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'michelin-bold';
    src: url('./../fonts/michelin/Michelin-Bold.eot');
    src: url('./../fonts/michelin/Michelin-Bold.eot') format('embedded-opentype'),
        url('./../fonts/michelin/Michelin-Bold.woff') format('woff2'),
        url('./../fonts/michelin/Michelin-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'michelin-light';
    src: url('./../fonts/michelin/Michelin-Light.eot');
    src: url('./../fonts/michelin/Michelin-Light.eot') format('embedded-opentype'),
        url('./../fonts/michelin/Michelin-Light.woff') format('woff2'),
        url('./../fonts/michelin/Michelin-Light.ttf') format('truetype');
    font-weight: black;
}

@font-face {
    font-family: 'michelin-semibold';
    src: url('./../fonts/michelin/Michelin-SemiBold.eot');
    src: url('./../fonts/michelin/Michelin-SemiBold.eot') format('embedded-opentype'),
        url('./../fonts/michelin/Michelin-SemiBold.woff') format('woff2'),
        url('./../fonts/michelin/Michelin-SemiBold.ttf') format('truetype');
    font-weight: black;
}


/* ///////////////////////// FATE */
@font-face {
    font-family: 'fate-myriad-mm-regular';
    src: url('./../fonts/fate/Myriad_MM_Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'fate-myriad-mm-italic';
    src: url('./../fonts/fate/Myriad_MM_Italic.ttf') format('truetype');
    font-weight: italic;
}

@font-face {
    font-family: 'fate-myriad-pro-regular';
    src: url('./../fonts/fate/Myriad_Pro_Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'fate-solex-black-lining';
    src: url('./../fonts/fate/SolexBlackLining.ttf') format('truetype');
    font-weight: black;
}

@font-face {
    font-family: 'fate-solex-black-lining-italic';
    src: url('./../fonts/fate/SolexBlackLiningItalic.ttf') format('truetype');
    font-weight: italic;
}

@font-face {
    font-family: 'fate-solex-medium-lining';
    src: url('./../fonts/fate/SolexMediumLining.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'fate-solex-medium-lining-italic';
    src: url('./../fonts/fate/SolexMediumLiningItalic.ttf') format('truetype');
    font-weight: italic;
}


/* // Courier para información financiera. Misma ARCA */
@font-face {
    font-family: 'courier-regular';
    src: url('./../fonts/courierPrime/courier-prime.regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'courier-italic';
    src: url('./../fonts/courierPrime/courier-prime.italic.ttf') format('truetype');
    font-weight: italic;
}

@font-face {
    font-family: 'courier-bold';
    src: url('./../fonts/courierPrime/courier-prime.bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'courier-bold-italic';
    src: url('./../fonts/courierPrime/courier-prime.bold-italic.ttf') format('truetype');
    font-weight: bold;
}



/* ///////////////////  PARA SISTEMAS */
@font-face {
    font-family: 'jetbrain-bold-italic';
    src: url('./../fonts/JetBrainsMono-1.0.2/ttf/JetBrainsMono-Bold-Italic.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'jetbrain-bold';
    src: url('./../fonts/JetBrainsMono-1.0.2/ttf/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'jetbrain-extrabold-italic';
    src: url('./../fonts/JetBrainsMono-1.0.2/ttf/JetBrainsMono-ExtraBold-Italic.ttf') format('truetype');
    font-weight: bolder;
}

@font-face {
    font-family: 'jetbrain-extra-bold';
    src: url('./../fonts/JetBrainsMono-1.0.2/ttf/JetBrainsMono-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
}

@font-face {
    font-family: 'jetbrain-italic';
    src: url('./../fonts/JetBrainsMono-1.0.2/ttf/JetBrainsMono-Italic.ttf') format('truetype');
    font-weight: italic;
}

@font-face {
    font-family: 'jetbrain-medium-italic';
    src: url('./../fonts/JetBrainsMono-1.0.2/ttf/JetBrainsMono-Medium-Italic.ttf') format('truetype');
    font-weight: italic;
}

@font-face {
    font-family: 'jetbrain-medium';
    src: url('./../fonts/JetBrainsMono-1.0.2/ttf/JetBrainsMono-Medium.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'jetbrain-regular';
    src: url('./../fonts/JetBrainsMono-1.0.2/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
}