@import 'commons_front/src/scss/app.scss';

@import "./_corporate_colors.css";

@import "./_fonts.css";

/* JQueryUI para autocomplete y datatable */
@import '/node_modules/jquery-ui/dist/themes/base/jquery-ui.min.css';
/* import '/node_modules/datatables.net-dt/css/jquery.dataTables.min.css'; */
@import '/node_modules/@selectize/selectize/dist/css/selectize.bootstrap5.css';
/* // TODO: Analizar como importarlo sin vite donde lo necesite */
@import url('datatables.net-bs5');
@import url('datatables.net-buttons-bs5');

[x-cloak] {
    display: none;
}

[v-cloak]>* {
    display: none;
}

[v-cloak]::before {
    content: 'Cargando';
}


#navbarPpal {
    background-color: var(--Fate-gris);
    overflow: visible;
  }
  
  #navbarPpal .dropneuper a {
    color: var(--Michelin-grismuyoscuro);
  }
  
  #navbarPpal .dropneuper a:active {
    background-color: #fff;
  }

#navbarPpal a {
        color: #fff;
}

#navbarPpal a:hover {
    color: var(--Fate-rojogastado);
}

#navbarPpal .nav-link {
    font-size: 1.2rem;
    padding-top: 0;
    padding-bottom: 0;
}


/* BUTTONS */
.btn-iceo {
    text-transform: uppercase;
    border-radius: 2.5em;
    min-width: 10em;
    font-weight: 700;
    border: 0;
}

.btn-iceo.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #666;
    color: #666 !important;
}


#banner-login {
    background-color: var(--Michelin-grismuyoscuro);
    color: var(--Michelin-azulclaro);
    background-attachment: fixed;
    background-image: url("/img/img_banners/banner_neumaticos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.bg-iceo {
    background: linear-gradient(to top, #F7FAFC, #e0e3dc, #F7FAFC)
}

.bg-iceo-2 {
    background: linear-gradient(to top, rgba(108, 117, 125, 0.25), #F7FAFC )
}
.bg-iceo-primary {
    background: linear-gradient(to top, #114c5f, #F7FAFC )
}


.bg-iceo-horizontal-3 {
    background: linear-gradient(to right, #F7FAFC, #e0e3dc, #F7FAFC)
}

.bg-iceo-horizontal {
    background: linear-gradient(to right, rgba(108, 117, 125, 0.25), #F7FAFC)
}

.bg-iceo-horizontal-inv {
    background: linear-gradient(to right, #F7FAFC, rgba(108, 117, 125, 0.25))
}

/**
 * FORMS
 */
label {
    color: var(--Fate-rojogastado);
}

/* Colores para la validez del formulario */
/* // input:valid, textarea:valid {  } */
input:invalid,
textarea:invalid {
    background-color: var(--input-textarea-requiredbackground);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
    border-color: var(--Fate-rojogastado);
    box-shadow: 0px 0px 0px 1px rgb(210, 12, 22);
}

.nav-item .nav-link {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-item.nav-link.active {
    background-color: var(--Fate-rojogastado);
}

.borde_derecho_rojo {
    border-right: 3px solid red !important;
}

/* Bootstrap tiene esta propiedad en none entonces falla el modal-dialog de editchart de google. Lo pongo en auto */
.modal-dialog {
    pointer-events: auto !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.list-group-item.active {
    background-color: var(--Fate-rojogastado);
    border-color: var(--Fate-rojogastado);
}