//COLORES MICHELIN
$Michelin-amarillo:         #fee400;
$Michelin-celeste:          #004f9e;
$Michelin-azulclaro:        #27509b;
$Michelin-azuloscuro:       #000099;
$Michelin-grismuyoscuro:    #222222;

//COLORES FATE
$Fate-rojogastado:  #D52B1E;
$Fate-grismuyclaro: #fefefe;
$Fate-beige:        #D1D4D3;
$Fate-gris:         #706e6f;
$Fate-grisoscuro:   #565A5C;
$Fate-verde:        #00984a;
$Fate-amarillo:     #FBA900; // rgb(251,169,0)

// COLORES TENARIS
$Tenaris-azul:   #000099;
$Tenaris-blanco: #ffffff;
$Tenaris-verde:  #009900;
$Tenaris-rosa:   #CC0066;
$Tenaris-gris:   #4D4D4D;

// COLORES TERNIUM
$Ternium-naranja:   #FF9900;
$Ternium-rojo:      #FF3300;
$Ternium-grisoscuro:  #666666;
$Ternium-grisclaro:   #C4C4C4;
$Ternium-verdeoscuro:   #006600;
$Ternium-verdeclaro:   #999933;
$Ternium-azul:   #003366;
$Ternium-lila:   #CCCCFF;

// https://www.colourlovers.com/print/blog/2008/06/20/the-colors-of-global-brand-identities

// colores pato mandarín

$Modules-blue: #114c5f;