@charset "UTF-8";

@import "./_colores_corporativos.scss"; // No pasarlo a app.scss porque sino esta pag no toma las variables

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Body
$body-bg: #f8fafc;

$input-textarea-requiredbackground: $Fate-beige;

$link-color: $Michelin-grismuyoscuro;
// $Fate-grisoscuro

// Colors de bootrap, los sobreescribo.
$blue: $Modules-blue; // $Michelin-azulclaro;
$indigo: $Michelin-azuloscuro;
// $purple: #9561e2;
// $pink: #f66d9b;
$red: $Fate-rojogastado;
// $orange: #f6993f;
$yellow: $Michelin-amarillo;
$green: $Fate-verde;
// $teal: #4dc0b5;
// $cyan: ;


$link-hover-decoration: none;
$component-active-bg: $red;

// Acordion Bootstrap lo uso en menu ppal
$accordion-border-width: 0;
$accordion-border-radius: 0;
$accordion-button-focus-border-color: $Fate-grisoscuro;
$accordion-button-bg: $Fate-beige;
$accordion-button-active-bg: $Fate-rojogastado;
$accordion-button-active-color: #ffffff;

// OffCanvas lo uso para menu ppal
$offcanvas-transition-duration: .1s;
// Para poder usar margenes negativos  mt-n2
// $enable-negative-margins: true;


@import "/node_modules/bootstrap/scss/bootstrap.scss";